<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDqKuBPb1j_w5zxb2dpnHkccFlaW31iJYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>687781052000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.choplist.ios</string>
	<key>PROJECT_ID</key>
	<string>chop-list-share</string>
	<key>STORAGE_BUCKET</key>
	<string>chop-list-share.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687781052000:ios:aba589419268a9dc19cd05</string>
</dict>
</plist>